.active {
      color: #149eca;
      font-weight: bold;
      background-color:#006eaa ;
      border-radius: 50%;
      padding: .5em;
}

.cusShadow {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cusShadow:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      scale: 1.02;
}